.git
.github
.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd
.ruff_cache
.mypy_cache
.pytest_cache
.coverage
htmlcov
build
dist
*.egg-info
.vscode
.idea
.DS_Store
README.md
.dockerignore
.gitignore
docker-compose*.yml
